<body>
<!--Start Nav-->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <a class="navbar-brand" href="dashboard"><img src="../assets/icons/leagueico.png" alt="leagueico"
                                                class="img-fluid header-icon mr-3">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-4">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/champion-list" routerLinkActive="active">Champions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-champion-wrapper" routerLinkActive="active">Add Champion</a>
      </li>
    </ul>
  </div>
</nav>
<!--End Nav-->
<!--Start Main Container-->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!--End Main Container-->
</body>
