<div class="row">
  <!--Start wrapper left side-->
  <div class="col-md-8">
    <!--START META DATA CONTAINER--->
    <div class="col-md-12">META</div>
    <!--END META DATA CONTAINER--->

    <!--START ABILITY CONTAINER--->
    <div class="col-md-12">Ability</div>
    <!--END ABILITY CONTAINER--->

  </div>
  <!--END wrapper left side-->

  <!--Start wrapper right side-->
  <div class="col-md-4">
    <!--START Attribute CONTAINER--->
    <div class="col-md-12">ATTR</div>
    <!--END ATTRIBUTE CONTAINER--->
  </div>
  <!--End wrapper right side-->
</div>
