<div [formGroup]="form" class="row">
  <label [attr.for]="question.key" class="col-lg-1">{{question.label}}</label>

  <div [ngSwitch]="question.controlType" class="form-group">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
           [id]="question.key" [type]="question.type" class="form-control col-lm-4 textbox"
           [pattern]="question.pattern">

    <select [id]="question.key" class="custom-select" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let options of question.options" [value]="options.key">{{options.value}}</option>
    </select>

  </div>

  <div class="alert alert-danger col-lg-6" *ngIf="!isValid">{{question.label}} is required</div>
</div>
