<div [formGroup]="form" class="row">
  <label [attr.for]="question.key" class="col-lg-1">{{question.label}}</label>

  <div [ngSwitch]="question.controlType" class="form-group">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
           [id]="question.key" [type]="question.type" class="form-control col-lm-4 textbox"
           [pattern]="question.pattern">

    <select [id]="question.key" class="custom-select" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let options of question.options" [value]="options.key">{{options.value}}</option>
    </select>

  </div>

  <div class="alert alert-danger col-lg-6" *ngIf="!isValid">{{question.label}} is required</div>
</div>

<!---orange-->
<!--
<div class="row">
  <div class="col-md-6">
    test
  </div>
  <div class="col-md-6">
    test2
  </div>
</div>
-->

<!---türkis---->
<!--
<div class="row">
  <div *ngIf="question.type.abilitiy.type === 'asdasd' ">
    <div class="col-md-4">
      test
    </div>
    <div class="col-md-8">
      test2
    </div>
  </div>
  <div *ngIf="question.type.abilitiy.type === '123' ">
    <div class="col-md-6">
      test
    </div>
    <div class="col-md-4">
      test2
    </div>
    <div class="col-md-2">
      test3
    </div>
  </div>
</div>
-->
<!--black-->
<!--
<div>
  <div></div>
  <div></div>
</div>
-->
